body,
html {
  margin: 0;
  background-color: rgb(141, 192, 221);
  min-width:505px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.global-container {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 504px;

    #timeWrap {
      @extend .flex-row;
      #time {
        width: 30px;
      }
    }
  }
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  #field {
    margin: 30px;
    background: rgb(12, 38, 116);
    border: 5px solid white;
    height: 504px;
    width: 504px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .minecell {
      box-sizing: border-box;
      margin: 2px;
      background: rgb(237, 241, 236);
      border: 1px solid white;
      height: 14px;
      width: 14px;
      color: white;
      text-align: center;
      font: 11px bold;

      .red {
        background: red !important;
      }

      .blue {
        background: blue !important;
      }
    }
  }

  .footer {}
}
