body,
html {
  margin: 0;
  background-color: rgb(141, 192, 221);
}
.global-container{
  .header{

  }
  #field{
    margin: 30px;
    background: rgb(12, 38, 116);
    border: 5px solid white;
    height: 505px;
    width: 486px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .minecell{
        margin: 3px;
        background:rgb(237, 241, 236);
        border: 1px solid white;
        height: 10px;
        width:10px;
    }
  }
  .footer{

  }
}
